/*
    Document   : Angular/css/style.css
    Created on : 2015-04-21 09:06 AM
    Author     : reissefer
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}